<a href="https://colab.research.google.com/github/jiangenhe/insc-486-2021-spring/blob/main/week3/lab2_read_csv_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 2: Read csv files and Numpy

## Part 1: Read csv files

1. Create a list with the average hwy mpg for each class of vehicle in mpg.csv dataset and sort the result from lowest average hwy mpg to highest.

2. Find the manufacturer that made the most cars with 8 cylinders

## Part 2: Numpy

1. Write a NumPy program to create an array of 5 zeros, an array of 5 ones, an array of 5 fives.

2. Write a NumPy program to create an array of all the even integers from 20 to 50.

3. Write a NumPy program to split an array of 14 elements into 2 arrays, each of which has 6 and 8 elements in the original order. 

  Expected Output:

  Original array: [ 1 2 3 4 5 6 7 8 9 10 11 12 13 14]

  After splitting:

  [array([1, 2, 3, 4, 5, 6]), array([ 7, 8, 9, 10, 11, 12, 13, 14])]

4. Use conditional indexing to select values larger than 5 from the original array you created in question 3.

5. Get maximum value from the second row and minimum value from the second column.

In [ ]:
a = np.array([[7, 8, 9], [10, 11, 12], [22,32,1]])